<!doctype html>
<html lang="en" ng-app="eyemedsApp">
<head>
    <meta charset="UTF-8">
    <base href="/">

    <title>Eyemeds Application</title>

    <!-- CSS -->
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/jquery-ui.css" />
    <link rel="stylesheet" href="styles/jquery-jvectormap-1.2.2.css"/>
    <link rel="stylesheet" href="styles/helper.css"  />
    <link rel="stylesheet" href="styles/style.css"  />

    <!-- JS -->
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular-ui-router/release/angular-ui-router.min.js"></script>

    <!-- ANGULAR CUSTOM -->
    <script src="js/app.js"></script>
    <script src="js/appRoutes.js"></script>
</head>
<body>

    <header class="top-bar">
        <div class="main-logo">Eyemeds</div>
        <div class="main-search">
            <input type="text" placeholder="Search regimen" id="search">
            <label for="search">
                <i class="pe-7s-search"></i>
            </label>
        </div>
        <ul class="profile">
            <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="return false;">
                    <figure class="pull-left rounded-image profile__img">
                        <img class="media-object" src="img/thumb0.jpg" alt="user">
                    </figure>
					<span class="profile__name">
						George <span>Smith</span> <i class="pe-7s-angle-down"></i>
					</span>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li><a href="login.html"><i class="icon pe-7s-close-circle"></i> Log Out</a></li>
                </ul>
            </li>
        </ul>

    </header>

    <div class="wrapper">

        <section class="content">
            <div class="main-stats row">
                <div class="col-lg-12" ui-view></div>
            </div>
        </section>

    </div>

    <!-- ANGULAR DYNAMIC CONTENT -->


</body>
</html>